body{
  background: #efefef;
  font-family: arial;
  margin:0;
  padding:0;
}

#header {
background-color: #0E82F6;
text-align:center;

}
.grid-container{
	display: grid;
	grid-template-columns: repeat(5,10em) 20em 15em 10em 15em;
	grid-template-rows: repeat(5,10em);
 }	
.box{
	border:5px solid black;
} 
.box1{
	background-color:#470afc;
	grid-column: span 2;
	grid-row: span 2;
}
.box2{
	background: #fc0303;
	grid-row: span 5;
}
.box3{
	background: white;
	grid-column: span 3;
	grid-row: span 1;
}
.box4{
	background:#e5e81e;
	grid-column: span 2;
	
}
.box5{
	background: white;
	grid-column: span 4;
	grid-row: span 2;

}.box6{
	background: blue;
	
}
.box7{
	background: #5DADE2;
	
	
}
.box8{
	background: red;
	
}
.box9{
	background: yellow;
}
.box10{
	background: blue;
	
}
	




  
  
 
  